/*Holds information on how we want the background and cards of our application to look*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6f7ec; /* Moss green background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoveredResult {
  position: absolute;
  width: 200px;
  padding: 10px;
  background-color: #e6f7ec; /* Moss green background color */
  border: 1px solid #a8d5ba; /* Lighter green border */
  z-index: 1;
  color: #333; /* Dark text color */
}