.swipe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Center the swipe container horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px; /* Set the width of the card */
  height: 500px; /* Set the height of the card */
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: none; /* Initially hide the card */
  color: #282c34;
}

.card.active {
  display: block; /* Display the card if it has the active class */
}