/*Holds information on how the swiping cards will look and how their background will look*/
.swipe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #e6f7ec;
  border: 1px solid #a8d5ba;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

body{
  background-color: #e6f7ec;
}